@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #00092c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digital-clock{
    position: relative;
    color: #fff;
    background: #010c3a;
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(67, 86, 129, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours, .minutes, .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
}


.hours, .minutes{
    font-size: 6.5em;
    width: 125px; 
}

.dots{
    font-size: 5em;
    color: #929292;
}

.hours{
    background: -webkit-linear-gradient(90deg,  #ff0000, #ff5f00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes{
    background: -webkit-linear-gradient(90deg,  #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    display: flex;
}

.period, .seconds{
    font-size: 1.2em;
    font-weight: 500; 
}

.period{
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg,  #624dffcb, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds{
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg,  #f30f0ffa, #ff5f00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg,  #f81e54, #74024e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year{
    margin-left: 8px;
}
.dot-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #efefef;
    font-size: 1.5em;
    cursor: pointer;
}

.dot-menu{
    z-index: 999;
    /* position: absolute;
    top: 7px;
    right:5px ; */
    list-style: none;
    background: #ff5f00;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease ;

}

.dot-menu.active{
    visibility: visible;
    opacity: 1;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-format-text{
    color: #efefef;
    font-size: 0.9em;
    margin-right: 20px;
}

.format-switch-btn{
    width: 35px;
    height: 15px;
    background: #010c3a;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(1, 5, 37, 0.856),
                inset -2px -2px 4px rgba(2, 11, 88, 0.11);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;            
}

.format-switch-btn:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #EAFDFC;
    border-radius: 50%;
    box-shadow: 0 5px 25px #EAFDFC;
    transform: translateX(-10px);
    transition: 0.3s ease;
    transition-property: background, transform;
}

.format-switch-btn.active:before{
    background: #0bff8d;
    box-shadow: 0 5px 25px #0bff8d;
    transform: translateX(10px);

}