
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.scan {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scan .qrcode {
  position: relative;
  width: 400px;
  height: 400px;
  background: url(QR_Code01.png);
  background-size: 400px;
  background-repeat: no-repeat;
}

.scan .qrcode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background:  url(QR_Code02.png);
  background-size: 400px;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,100% { height: 20px; }
  50% { height: calc(100% - 20px); }
}

.scan .qrcode::after {
  content: '';
  position: absolute;
  inset: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background: #ff5f00;
  filter: drop-shadow(0 0 20px #ff5f00) drop-shadow(0 0 60px #ff5f00);
  animation: animateLine 4s ease-in-out infinite;
}

@keyframes animateLine {
  0%,100% { top: 20px; }
  50% { top: calc(100% - 20px); }
}

.border {
  position: absolute;
  inset: 0;
  background: url(border.png);
  background-size: 400px;
  background-repeat: no-repeat;
  animation: animateText 2s linear infinite;
}

.scan h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 20px;
  color: #ff5f00;
  /* filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 60px #fff); */
  animation: animateText 1s steps(1) infinite;
}

@keyframes animateText {
  0% ,100% { opacity: 0; }
  50% { opacity: 1; }
}